<html>
<head>
<title>Obscure Facts Spoken by Piggies</title>
</head>
<body>
	<h2>Click the text below to see the fact piggyized!</h2>
	<h1><a href={{hyper_link[1]}}>{{hyper_link[0]}}</a><h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
